<div class="container ms-4" id = "filter_container">
  <div class="row justify-content-start ms-0 p-0">
    <div class="col-4 fs-3 ms-0 ps-0 me-4">Filter</div>
    <div class="col-4 bg-danger p-0" >
      <select id="filter_select">
        <option value="Name">Name</option>
        <option value="Author">Author</option>
        <option value="Min Price">Min Price</option>
        <option value="Max Price">Max Price</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row justify-content-start ms-0">
    <div class="col-5 ps-0">
      <input type="text" class="me-4" style="width: 350px" id="filter_input" >
    </div>

  </div>
</div>
